body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  background-color: $gray-lighter;
  line-height: $line-height-base;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $black-base;
    text-decoration: underline;
  }

  &:visited {
    color: $link-color-visited;
  }
}